.chat{
    display: flex;
    border: 1px solid;
    flex-direction: column;
    padding:  20px;
    border-radius: 20px;
    width: 500px;
    height: 600px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    width: 150px;
    height: 150px;
}
